# =====================
#  APP CONFIGURATION
# =====================
APP_NAME=lune
APP_URL=phpfr.test
APP_ENV=dev
APP_DEBUG=false

# =====================
#  DATABASE
# =====================
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=LightWeight
DB_USER=root
DB_PASSWORD=

# =====================
#  SESSION & STORAGE
# =====================
SESSION_STORAGE=native
FILE_STORAGE=disk

# =====================
#  LOGGING
# =====================
LOG_CHANNEL=daily
LOG_SLACK_WEBHOOK_URL=
LOG_SLACK_USERNAME="LightWeight log"
LOG_SLACK_EMOJI=:boom:
VIEW_CACHE_ENABLED=false
LOG_EXCEPTION_CHANNEL=daily
LOG_EXCEPTION_LEVEL=error
LOG_EXCEPTION_MAX_FILES=30
LOG_EXCEPTION_DAILY=true

# =====================
#  EXCEPTION NOTIFICATIONS
# =====================
EXCEPTION_NOTIFICATION_CHANNELS=log,email
EXCEPTION_EMAIL=admin@example.com
EXCEPTION_SLACK_WEBHOOK=
EXCEPTION_WEBHOOK_URL=
EXCEPTION_SMS=
EXCEPTION_SMS_PROVIDER=twilio