vendor/
/.vscode
.php-cs-fixer.cache
/tests/Database/migrations
.env
.phpunit.result.cache
apache_access.log
apache_error.log
config/
public/
bootstrap/
resources/
views/
routes/
app/
database/
storage/